.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 66px;
    display: flex;
    align-items: center;
    padding: 0 28px;
    border-bottom: 1px solid #e8ebed;
    background-color: #fff;
    font-size: 1.4rem;
    gap: 30px;
}