.logo {
    display: flex;
    align-items: center;
}

.textLogo {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
    color: #000;
}
.logo img {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 8px;
}